<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>2785406410-jj6i56h0ml1lnef2ll84923577okmsma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2785406410-jj6i56h0ml1lnef2ll84923577okmsma</string>
	<key>API_KEY</key>
	<string>AIzaSyCZzXXSEdCKI8GqhkyGyOXC95IX9P5HqYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>2785406410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egasa.cshops</string>
	<key>PROJECT_ID</key>
	<string>egasa-a8725</string>
	<key>STORAGE_BUCKET</key>
	<string>egasa-a8725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:2785406410:ios:7f90da473ec7ebe0</string>
	<key>DATABASE_URL</key>
	<string>https://egasa-a8725.firebaseio.com</string>
</dict>
</plist>